/*----------- Add TR2N Font -----------*/
@font-face {
    font-family: TR2N;
    src: url(fonts/Tr2n.ttf) format("truetype");
}
header {
    background: black;
    color: green;
    font-family: TR2N, serif;
    font-size: 120px;
    width: 424px;
    margin: auto;
}