.color-red {
    color: red;
}

header .color-red {
    font-weight: bold;
}

#header2 .my-text .color-red {
    background-color: yellow;
}

a[href] {
    color: pink;
}

a[href="https://smabf.ir"] {
    color: blue;
}

a[href*="selenium"] {
    color: green;
}

a[href$="ir"] {
    font-style: oblique;
    font-weight: bold;
}

li[class~="item"] a {
    color: lightseagreen;
}

li > span {
    background-color: brown;
}

li.item + span {
    background-color: yellow;
}

li + span {
    background-color: green;
}

li.item ~ span {
    background-color: lightseagreen;
}