/*----------- Add TR2N Font -----------*/
@font-face {
    font-family: TR2N;
    src: url(fonts/Tr2n.ttf) format("truetype");
}
header {
    background: black;
    color: green;
    font-family: TR2N, serif;
    font-size: 120px;
    width: 424px;
    margin: auto;
}

.text {
    color: blue;
    font-style: oblique;
}

#logo {
    color: blue;
}

.color-green {
    color: green;
}

.background-yellow {
    background-color: yellow;
}

.color-green.background-yellow {
    font-weight: bold;
}

#logo.color-green {
    color: green;
}

a.background-yellow {
    font-weight: bold;
    font-family: Compset,sans-serif;
}