.color-red {
    color: red;
}

header .color-red {
    font-weight: bold;
}

#header2 .my-text .color-red {
    background-color: yellow;
}

a[href] {
    color: pink;
}

a[href="https://smabf.ir"] {
    color: blue;
}

a[href*="selenium"] {
    color: green;
}

a[href$="ir"] {
    font-style: oblique;
    font-weight: bold;
}

li[class~="item"] a {
    color: lightseagreen;
}

li > span {
    background-color: brown;
}

li.item + span {
    background-color: yellow;
}

li + span {
    background-color: green;
}

li.item ~ span {
    background-color: lightseagreen;
}

li:hover {
    background-color: goldenrod;
}

li:hover a {
    color: white;
}

ul li:first-child {
    background-color: red;
}

ul li:first-child a {
    color: green;
}

li::before {
    content: " List Item ";
    color: yellow;
}

li:after {
    content: "After";
    color: blue;
}

p::first-letter {
    font-weight: bold;
    font-size: 30px;
}

p::first-line {
    color: blue;
}